.main {
  z-index: 99;
}

.brandname {
  padding-left: 2rem;
}

.logo {
  width: 10rem;
}

.navLink {
  color: rgb(126, 126, 126);
  margin-left: 2rem;
  text-decoration: none;

  &:hover {
    color: black;
  }
}
